<div class="layout-container">
  <header class="header">
    <div class="brand">
      <span class="brand-mark"></span>
      <h1>TareasApp</h1>
    </div>

    <nav>
      @if (!authService.estaAutenticado()) {
        <a routerLink="/login" routerLinkActive="activo">Login</a>
      }

      @if (authService.estaAutenticado()) {
        <a routerLink="/dashboard" routerLinkActive="activo">Dashboard</a>
        <a routerLink="/tareas" routerLinkActive="activo">Tareas</a>
        <a href="#" (click)="cerrarSesion(); $event.preventDefault()">Cerrar sesión</a>
      }
    </nav>
  </header>

  <main class="contenido">
    <router-outlet></router-outlet>
  </main>
</div>